@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Roboto+Slab&display=swap');
/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100%;
    position: relative;
}
body {
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.xfU6OA40aEzh1Wh8Wp0drgHaEo&pid=Api&P=0) ;
    background-size: 100%;
    font-family: 'Roboto Slab', serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

h1, h2, p {
    color: rgb(31, 215, 31);
    text-align: center;
    -webkit-text-fill-color: white;
}

#my-avatar {
    width: 150px;
    border-radius: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 16px;
}
footer > section {
    display: flex;
    justify-content: space-around;
}

#content {
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 50px;
    -webkit-text-stroke-width: 0.40px;
}

h2 {
    font-size: 40px;
    color: #5BB318;
    -webkit-text-stroke-width: 0.10px;
}

p {
    font-size: 25px;
    color: #5bb318;
    -webkit-text-stroke-width: 0.80px;
}
#my-name {
    font-family: 'Merienda', cursive;
}
#left-side {
   display: flex;
   flex-direction: row;
   column-gap: 16px;
}
a {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #fff;
}  
a:hover {
    color: #5bb318;
} 
a:active {
    color: #5bb318;
}
.space {
    padding: 3px;
    margin: 8px;
}
.spaces {
    padding: 3px;
    margin: 8px;
}

#content div {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

/* Projects page */

#hero-banner {
    background: linear-gradient(90deg, green, blue, green, blue, green, blue);
    padding-top: 10px;
    padding-bottom: 10px;
}
/* tablet device */
@media (min-width: 426px) and (max-width: 768px){
#hero-banner > div {
    width: 50%;
    margin: 0 auto;
}
}
#hero-banner > div > div {
    display: inline-block;
}
#hero-banner h1, #hero-banner h2 {
    color: green;
}
h3 {
    text-align: center;
    font-size: 80px;
    color: #5BB318;
    -webkit-text-stroke-width: 0.10px;
    -webkit-text-fill-color: white;
}

/* For v2.0 */
header {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

header > a > svg {
        width: 25px;
        height: 25px;
        margin-right: 8px;
        fill: white;
}